<!DOCTYPE html>
<html>
  <head>
    <title>Beacon QA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main class="container">
      <h1 class="title is-1">Beacon call log QA</h1>
      <%= yield %>
    </main>
  </body>
</html>
